.is-link-third {
  background: linear-gradient(90deg, #3273dc 70%, #fff 30%);
}

.rsdh-logo {
  padding-top: 2em;
}

.hero-title-subtitle {
  margin-bottom: 3em;
}

.hero-social-media {
  margin-top: 1em;
}

.social-icons {
  border-radius: 50%;
  margin: 0px .5em;
  transition-duration: .2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.7,1,.7,1);
}

.social-icons:hover {
  background: rgba(255, 255, 255, .25);
  transition-duration: .2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.7,1,.7,1);
}

.profile-pict {
  height: 360px;
  margin-left: 2em;
}

.is-section-spaced {
  padding: 5rem 1.5rem;
}

.is-section-odd {
  background: #fafafa;
}

.intro-skills {
  margin-top: 2em;
}

.intro-skills .skill-item {
  margin-bottom: 1em;
}

.skill-title {
  margin-bottom: .5em;    
}

.progress.is-xsmall {
  height: .25em;
}

.exp-desc {
  margin-top: .5em;
}

.exp-item {
  margin-bottom: 1em;
}

.exp-item-odd {
  padding: 1.5em;
  background-color: #3273dc;
  color: #fff;
}

.exp-item-even {
  padding: 1.5em;
  background-color: #fafafa;
}

.work-item {
  transition-duration: .2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.7,1,.7,1);
}

.work-item:hover {
  background: rgba(50, 115, 220, .5);
  transition-duration: .2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.7,1,.7,1);
}

.is-mid-center {
  display: flex; 
  -webkit-box-align: center; 
  -moz-box-align: center;
  align-items: center;
}

.contact-item {
  margin-bottom: .5em;
}